#wrapper .fco-header hgroup {
	padding: 1em 2em;
}

#wrapper .fco-header hgroup h1 {
	padding: 0;
}

#wrapper .fco-header hgroup h2 {
	margin-left: 0;
}

.content {
	background-color: #fff;
	padding: 2em;
}
.content.with-related {
	margin-right: 12em;
}

/* homepage */

/* temp until have autocomplete country search */
.guidance-headline ul {
	background: yellow;
	height: 10em;
	overflow: auto;
}
/* end temp */

.fco-home .guidance-headline {
	background-color: #efece0;
	border: solid 2px #BBB;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	padding: 1.5em 0;
}

.fco-home .guidance-headline h1 {
	font-size: 1.5em;
	text-align: center;
}

.fco-home .updates-travel-advice {
	margin: 1em 0;
}

.fco-home .updates {
	float: left;
	width: 33.3%;
}

.fco-home .updates h2 {
	font-size: 1.25em;
}

.fco-home .updates.news ul {
	padding: 0;
}

.fco-home .updates.news ul li {
	list-style: none;
	margin: 0 0 1em 0;
}

.fco-home .updates.news ul li h3 {
	font-size: 1em;
}

.fco-home .updates.news ul li h4 {
  color: #666;
  font-size: 0.8em;
/*  font-weight: normal;*/
  margin-bottom: 0;
}

.fco-home .updates.news ul li p {
	font-size: 0.8em;
	margin-top: 0.5em;
}

/* country pages */

.fco-country .article-container {
  margin-right: 20em;
}

.country-details {
  background-color: #E5E5E5;
  border-top: solid 2px #bbb;
  float: right;
  width: 20em;
}

/* FCO article formatting */

article h1 {
  font-size: 1.8em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

article h2.date {
  color: #666;
  font-size: 1em;
  margin-top: 0.5em;
}

article .summary {
  margin-top: 1.25em;
}

article .advisory h2 {
  margin: 0;
}

