#wrapper .fco-header hgroup {
	padding: 1em 2em;
}

#wrapper .fco-header hgroup h1 {
	padding: 0;
}

#wrapper .fco-header hgroup h2 {
	margin-left: 0;
}

.content {
	background-color: #fff;
	padding: 2em;
}
.content.with-related {
	margin-right: 12em;
}

/* homepage */

/* temp until have autocomplete country search */
.guidance-headline ul {
	background: yellow;
	height: 10em;
	overflow: auto;
}
/* end temp */

.fco-home .guidance-headline {
	background-color: #efece0;
	border: solid 2px #BBB;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	padding: 1.5em 0;
}

.fco-home .guidance-headline h1 {
	font-size: 1.5em;
	text-align: center;
}

.fco-home .updates-travel-advice {
	margin: 1em 0;
}

.fco-home .updates {
	float: left;
	padding: 0 2%;
/*  width: 29.3%;*/
  width: 30.6%;
}

.fco-home .updates:first-child {
  padding-left: 0;
}
.fco-home .updates:last-child {
  padding-right: 0;
}

.lte-ie8 .fco-home .updates {
	padding: 0 2%;
  width: 29.3%;
}

.fco-home .updates h2 {
	font-size: 1.25em;
}

.fco-home .updates ul {
	padding: 0 0 0 1.5em;
}

.fco-home .updates ul li {
  margin-bottom: 0.25em;
}

.fco-home .updates.news ul {
  padding: 0;
}

.fco-home .updates.news ul li {
	list-style: none;
	margin: 0 0 1em 0;
}

.fco-home .updates.news ul li h3 {
	font-size: 1em;
}

.fco-home .updates.news ul li h4 {
  color: #666;
  font-size: 0.8em;
/*  font-weight: normal;*/
  margin-bottom: 0;
}

.fco-home .updates.news ul li p {
	font-size: 0.8em;
	margin-top: 0.5em;
}

/* country pages */

.fco-country .article-container {
  margin-right: 20em;
}

.country-details {
  background-color: #E5E5E5;
  border-top: solid 2px #bbb;
  float: right;
  padding: 1em;
  width: 18em;
}

.country-map {
  height: 10em;
  width: 18em;
}

.presence-info h2 {
  margin: 1em 0 0.5em 0;
}

.presence {
  border-bottom: solid 1px #bbb;
  margin: 1em 0 0 0;
  padding: 0 0 0.5em 0;
}

.presence h4.location {
  margin-top: 0.25em;
}

.presence p {
  font-size: 0.8em;
  margin: 0.5em 0;
}

/* FCO article formatting */

article h1 {
  font-size: 1.8em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

article h2.date {
  color: #666;
  font-size: 1em;
  margin-top: 0.5em;
}

article .not-final-formatting .NewsHeader {
	background: url(/images/summary-arrow.png) no-repeat 0 0;
  font-size: 1.15em;
	font-weight: bold;
  line-height: 1.25em;
	margin: 1.25em 0.75em 1.25em 0;
	min-height: 1.75em;
	padding: 0.25em 0 0 1.5em;
}

article .not-final-formatting img {
  float: right;
  margin: 1em 0 2em 2em;
}

article .advisory h2 {
  margin: 0;
}

