<!DOCTYPE html>
<html>
  <head>
    <title>Travel advice</title>
    <%= stylesheet_link_tag "/fco-assets/stylesheets/fco-travel" %>
    <meta name="x-section-name" content="FCO" />
    <meta name="x-section-link" content="fco" />
    <%= yield :head %>
  </head>
  <body>
    <div id="wrapper" class="fco">
      <%= yield %>
    </div>
  </body>
</html>